

.wallet__wrapper{
    width: 100%;
    &__info{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            border-radius: 0.5em;
            width: 3em;
        }
    }
}